<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
    </head>
    <body>
      <h1>Bookmark Manager</h1>
      <ul>
        <% @bookmarks.each do |bookmark| %>
          <li><%= bookmark %></li>
        <% end %>
    </body>
</html>

